---
import instagram from '../assets/instagram.png';
import whatsapp from '../assets/whatsapp.png';
import { Image } from '@astrojs/image/components';
import Form from '../components/Form2';
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reitstiefel Doktor">
  <main
    class="mx-auto max-w-[32rem] bg-three px-5 py-10 shadow-lg">
    <Logo />
    <div class="flex w-full justify-center gap-10">
      <a
        href="https://www.instagram.com/reitstiefeldoktor/?igshid=YmMyMTA2M2Y%3D"
        rel="noreferrer"
        target={'_blank'}
        aria-label="link a instagram">
        <Image
          alt=""
          src={instagram}
          width={64}
          height={64}
          quality={50}
          class="mx-auto my-10"
        />
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=31615460226"
        rel="noreferrer"
        target={'_blank'}
        aria-label="link a whatsapp">
        <Image
          alt=""
          src={whatsapp}
          width={64}
          height={64}
          quality={50}
          class="mx-auto my-10"
        />
      </a>
    </div>
    <Form />
  </main>
</Layout>
