---
import instagram from '../assets/instagram.png';
import { Image } from '@astrojs/image/components';
import Form from '../components/Form';
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reitstiefel Doktor">
  <main
    class="mx-auto max-w-[32rem] bg-three pt-10 shadow-lg">
    <Logo />
    <div>
      <a
        href="https://www.instagram.com/reitstiefeldoktor/?igshid=YmMyMTA2M2Y%3D"
        rel="noreferrer"
        target={'_blank'}
        aria-label="link a instagram">
        <Image
          alt=""
          src={instagram}
          width={64}
          height={64}
          quality={50}
          class="mx-auto my-10"
        />
      </a>
    </div>
    <Form client:load />
  </main>
</Layout>
