---
import Flags from '../components/Flags.astro';
import Form from '../components/Form';
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pascal">
  <main
    class="mx-auto my-10 max-w-[32rem] bg-three pt-10 shadow-lg">
    <Logo />
    <Flags />
    <Form client:load />
    <a
      href="https://www.flaticon.com/free-icons/germany"
      title="germany icons"
      >Flags icons created by Freepik - Flaticon</a
    >
  </main>
</Layout>
